body{
    background: #1C1C1C;
    
}

div {
    background: #1F2937;
    max-width: 550px;
    max-height: 550px;
    margin: auto;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 62px;
    padding-right: 641px;
    display: inline-block;
}

h1 {
    font-family: 'karla', sans-serif;
    margin-top: 115px;
    margin-left: 52px;
    color: #FFFFFF;
    font-size:40px;
    font-weight: 800px;
    font-style: normal;
    line-height: 40px;
    letter-spacing: -0.02em;
    width: 354px;
}

span {
    font-family: 'Inter', sans-serif;
    font-weight: 800px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #4ADF86;
    margin-right: 144px;
    width: 354px;
    font-style: normal;
    display:inline-block;
}

p {
    font-family: 'inter', sans-serif;
    color: #D5D4D8;
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    line-height: 28px;
    margin-left: 52px;
    width: 372px;
    margin-bottom: 51px;
    
}

button {
    color: white;
    background: #10B981;
    border-radius: 6px;
    width: 191px;
    height: 42px;
    padding: 9px, 17px, 9px, 15px;
    gap: 12px;
    margin-left: 52px;
    border: 0px;
}

hr {
    border: 1px solid #2F3E53;
    align-items: center;
    width: 446px;
    height: 0px;
    left: 52px;
    top: 361px;
    margin-top: 35px;
    margin-left: 52px;
}

#password1 {
    background: #273549;
    border-radius: 6px;
    width: 211px;
    height: 39px;
    margin-left: 52px;
    margin-top: 35px;
    margin-bottom: 115;
    margin-right: 24px;
    float: left;
    border: 0px;
}

#password2 {
    background: #273549;
    border-radius: 6px;
    width: 211px;
    height: 39px;
    margin-left: 287px;
    margin-bottom: 115px;
    margin-right: 52px;
    margin-top: -41px;
    float: right;
    border: 0px;
}